<table border="1" class="dataframe" id="/workspaces/Feedback/static/style.css">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Post Code</th>
      <th>Date of Booking</th>
      <th>Requested Service</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Jane Doe</td>
      <td>07437 615542555</td>
      <td>Jane.doe@test.com</td>
      <td>50 area lane</td>
      <td>PR8 GLE</td>
      <td>2025-04-28</td>
      <td>Consult for Solar panels</td>
    </tr>
  </tbody>
</table>