<!-- This file is used to inform the user that their amending of files has been saved. -->
<!-- Further information about this page can be found within the python file and the documentation files as well. -->
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Rolsa Technologies: Conformation for staff record amend</title>
    <h1><a href="/">Rolsa Technologies:</a> Conformation for record amend</h1>
</head>
<body>
</body>
<body>
    <p>
        Record amended. <br>
        The change requested has been committed to the system. <br>
        If you have amended a active record on the system, please inform the user related to the record. <br>
        <a href="/Staff_homepage">Done.</a>
    </p>
</body>