<!-- This file is used to inform the user that the record has been deleted from the system. -->
<!-- Further information about this page can be found within the python file and the documentation files as well. -->
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Rolsa Technologies: Conformation for staff record deletion</title>
    <h1><a href="/">Rolsa Technologies:</a> Conformation for record deletion</h1>
</head>
<body>
</body>
<body>
    <p>
        Record deleted<br>
        The record has been deleted from the system. <br>
        Please inform the customer about the record deletion, if this was a customer account deletion inform them now. <br>
        <a href="/Staff_homepage">Done.</a>
    </p>
</body>