<!-- This file gives the user the contact information for the business, I have put some false information for an example. -->
<!-- Further information about this page can be found within the python file and the documentation files as well. -->
<!DOCTYPE html>
<head>
    <title>Rolsa Technologies: Contact information</title>
    <h2><a href="/Staff_sign_in">Staff sign in here</a> </h2>
    <h1><a href="/">Rolsa Technologies:</a> Conformation for booking</h1>
</head>
<body>
    <nav>
        <a href="/">Homepage</a>
        <a href="/Customer_sign_in">Bookings</a>
        <a href="/Services">Offered Services</a>
        <a href="/Carbon_footprint">Carbon footprint calculator</a>
        <a href="/Services_pricing_log">Services pricing log</a>
    </nav>
</body>
<body>
    <p>
        Below is our contact information if you need to make in inquires. 
    </p>
    <p>
        Here are are main contact methods: <br>
        Phone Number: 07437 614446 <br>
        Email: CustomerSupport@RolsaTechnologies.ac.uk<br>
    </p>
</body>
