<!-- This file allows the user to make a booking on the system.  -->
<!-- Further information about this page can be found within the python file and the documentation files as well. -->
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Rolsa Technologies: Customer booking</title>
    <h1><a href="/">Rolsa Technologies:</a> Bookings</h1>
</head>
<body>
    <p>
        Here you can make bookings for consults and installations. <br>
        Follow the steps below to make the booking you want. 
    </p>
    <form method="post" action="{{ url_for('Customer_booking') }}">
        <label for="customer_name">Please enter your name, phone number and email. </label> <br>
        <input type="text" name="customer name" placeholder="Please enter your name." required> 
        <input inputmode="tel" type="tel" name="customer phone number" placeholder="Please enter your phone number starting with +44." minlength="15" maxlength="15" required>
        <input inputmode="email" type="email" name="customer email" placeholder="Please enter your name." required> <br>
        <label for="customer_address">Please enter your address, post code and date of booking.</label><br>
        <input type="text" name="customer address" placeholder="Please enter your address." required>
        <input type="text" name="customer post code" placeholder="Please enter your post code." minlength="7" maxlength="7" required> 
        <input type="date" name="date of booking" placeholder="Please enter a date that you are available on." required> <br>
        <label for="requested service">Please select a service we provide.</label> <br>
        <select name="requested service" aria-placeholder="Please choose the service you want." required>
            <option value="Consult for Solar panels">Consult for solar panels</option>
            <option value="Consult for EV charger">Consult for EV charger</option>
            <option value="Consult for Smart home system">Consult for Smart home system</option>
            <option value="Installation of Solar panels">Installation of solar panels</option>
            <option value="Installation of EV charger">Installation of EV charger</option>
            <option value="Installation of Smart home system">Installation of smart home system</option>
        </select> <br>
        <button type="submit">Done</button>
    </form>
</body>