<!-- This file is used to inform the user that their details were wrong and gives them brief information to assist. -->
<!-- Further information about this page can be found within the python file and the documentation files as well. -->

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Rolsa Technologies: Sign in error</title>
    <h1><a href="/">Rolsa Technologies:</a> Sign in error</h1>
</head>
<body>
    <p>
        There has been a error. <br>
        Sorry but you haven't been able to log in, please make sure your using the right email and password for this webpage. <br>
        <a href="/Customer_sign_in">Return to sign in here</a>
    </p>
</body>