<!-- This file is the first the user will see when they enter the webpage and offers them a variety of functions and information about the business.  -->
<!-- Further information about this page can be found within the python file and the documentation files as well. -->
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Rolsa Technologies: Homepage</title>
    <h2><a href="/Staff_sign_in">Staff sign in here</a> </h2>
    <h1><a href="/">Rolsa Technologies:</a> Homepage</h1>
</head>
<nav>
    <a class="link_spacer" href="/Customer_sign_in">Bookings</a>
    <a href="/Services">Offered Services</a> 
    <a href="/Contact_information">Contact information</a>
    <a href="/Carbon_footprint">Carbon footprint calculator</a>
    <a href="/Services_pricing_log">Services pricing</a>
    <a href="/Services">Offered Services</a>

</nav>
<body>
    <p>
        Here at Rolsa Technologies we pride ourselves on helping the reduction of customers carbon footprint whilst giving them the services they deserve. 
    </p>
    <p>
        Now when it comes to the services we offer: <br>
        Consults for your home, this is done to make sure any work done on your property does not lead to damage or injury. <br>
        Solar panel installations, with our solar panels you will be able to store gathered energy into batteries which when active will work alongside the main power supply to your home and lessen the amount of carbon produced. <br>
        EV charging stations, with EV chargers you will be able to keep your vehicle toped up and ready to go at a moments notice, and with the rise of hybrid and electric cars the charger will be great for the future. <br>
        Smart home systems, with smart home systems you will be able to control how much power and gas goes to the areas of your home. <br>
        In addition you can control it from your phone which allows for easier monitoring of the system and if you are out of the home for an extended period of time you can stop your heating from going on and wasting your money in the bill at the end of the month and reducing your carbon footprint. <br> 
        If you would like to know more about these services please go to the services page, you can get to from the navigation bar.
    </p>
</body>

