<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Type of service</th>
      <th>Details</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Consult for Solar panels</td>
      <td>Now this service is done to ensure that you and anyone who lives with you are safe to have them installed.</td>
      <td>£40</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Consult for EV charger</td>
      <td>Now this service is for anyone who owns a electric and hybrid cars that will need charging before they can be used.</td>
      <td>£40</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Consult for Smart home system</td>
      <td>Now this service is for anyone who wants keep check of the features that their home provides for example the heating.</td>
      <td>£40</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Installation of Solar panels</td>
      <td>Once you have been check to see if it is safe to install solar panels you can have up to 8 of them installed on to your roof.</td>
      <td>£70 per panel.</td>
    </tr>
  </tbody>
</table>