<!-- This file informs the user on what is available from the this page for staff members. -->
<!-- Further information about this page can be found within the python file and the documentation files as well. -->
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Rolsa Technologies: Staff homepage</title>
    <h1><a href="/Staff_homepage">Rolsa Technologies:</a> Staff homepage</h1>
</head>
<body>
    <nav>
        <a href="/Staff_record_amend">Update record</a>
        <a href="/Staff_record_deletion">Removal of record</a>
        <a href="/Services_pricing_log">Services pricing log</a>
        <a href="/Customer_log">Customer log</a>
        <a href="Booking_log">Booking log</a>
    </nav>
</body>
<body>
    <p>
        Here as staff you are able to view, amend and delete the records stored on the system. <br>
    </p>
    <p>
        Now when it comes to record deletion you are only able to do this if it is requested by the customer or management since they contain very sensitive data that may still be needed. 
    </p>
</body>